.icon {
    overflow: visible;
    margin-right: 4px;

    .bar {
        fill: currentColor;
        transform-box: fill-box;
        transform-origin: bottom;
        transform: scaleY(0.15);
    }

    &.playing .bar {
        animation: audio-wave 0.5s ease-in-out infinite alternate;

        &:nth-child(1) {
            animation-delay: -0.5s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.1s;
        }

        &:nth-child(4) {
            animation-delay: -0.4s;
        }
    }
}

@keyframes audio-wave {
    from {
        transform: scaleY(0.15);
    }

    to {
        transform: scaleY(1);
    }
}