@use "@/css/components/mixins/" as *;

.library {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    position: relative;

    @include mobile {
        padding: 0 0.5rem;
    }
}

.trackList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include mobile {
        width: 100%;
    }
}

.topPanel {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include mobile {
        gap: 0.5rem;
    }

    .action {
        padding: 10px 20px;
        aspect-ratio: 1.5;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        border: 1px solid;

        @include glass(true);

        @include mobile {
            padding: 10px 5px;
            font-size: 15px;

            svg {
                width: 27px;
            }
        }

        svg {
            position: absolute;
            top: 40%;
            translate: 0 -50%;
        }

        .subtitle {
            margin-top: auto;
            height: fit-content;
        }
    }
}

.track {
    display: flex;

    border: 1px solid;
    border-radius: 10px;
    gap: 1rem;
    justify-content: space-between;
    padding: 10px;

    @include glass(true);

    .body {
        display: flex;
        gap: 0.7rem;
        overflow: hidden;
    }

    .meta {
        display: flex;
        flex-direction: column;
        gap: 1px;
        overflow: hidden;
    }

    .audioCover {
        border-radius: 8px;
        border: 1px solid;
        padding: 5px;
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include glass;

        svg {
            aspect-ratio: 1;
            width: 40px;
        }
    }

    .id {
        font-weight: 600;
    }

    .name {
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .artist {
        font-size: 0.9rem;
        color: var(--text-color-l1);
    }

    .info {
        font-size: 0.8rem;
        color: var(--text-color-l1);
    }

    .actions {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 6px;

        button {

            border: 1px solid;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            @include glass(true);

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.uploadingStat {
    display: flex;
    gap: 1rem;
}

.uploadingList {
    display: flex;
    flex-direction: column;
    max-height: 150px;

}

.uploadItem {
    padding: 10px;
    background-color: #0000001a;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;

    .progressBar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 0px;
        height: 100%;
        background-color: #80808050;
    }

    span {
        z-index: 2;
    }

    .percent {
        position: absolute;
        right: 3rem;
    }

    .status {
        position: absolute;
        right: .5rem;

        &.success {
            *, &::before, &::after {
                color: #25c417fd !important;
            }
        }

        &.error {
            *, &::before, &::after {
                color: #c4172e !important;
            }
        }
    }
}

.header {
    text-align: center;
    font-weight: 400;
    margin: 0.5rem 0;
}

input.uploadAudio {
    display: none;
}

.roomTopUpActions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: fixed;
    bottom: 70px;
    z-index: 100;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    .listAction {
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid;

        @include glass(true);
    }
}