@use "@/css/components/mixins/" as *;

.join {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 17px;
    border-radius: 10px;
    font-size: medium;
    
    @include dirty-glass(true);
}

.input {
    font-size: 1rem;
    padding: 8px;
    color: var(--text-color);
    border-radius: 8px;
    width: 100%;
    border: 1px solid;
    text-align: left;

    @include glass;

    @include mobile {
        width: 100%;
    }
}