.audioTracker {
    position: sticky;
    bottom: 10px;
    margin: 0 10px;
    width: calc(100% - 20px);
    background-color: #352323;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

    .trackPosition {
        width: calc(100% - 20px);
        height: 3px;
        position: absolute;
        bottom: 0;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
            padding: 3px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #9b9b9b77;
            }
        }
    }
}