@use "@/css/components/mixins/" as *;

.main-page {
    flex: 1;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    margin: 0 auto;

    @include mobile {
        flex-direction: column;
    }
}

dialog#musicLibrary {

    @include mobile {
        padding: 10px;
    }

    .modal-header {
        padding: 14px, 10px;
    }

}

@keyframes trackerScroll {
    0% {
        transform: translateX(calc(50% - 120px));
    }
    100% {
        transform: translateX(calc(-50% + 120px));
    }
}