@use "@/css/components/mixins/" as *;

.main-page {
    flex: 1;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    margin: 0 auto;

    @include mobile {
        flex-direction: column;
    }

    .box {
        border-radius: var(--radius);
        overflow: hidden;
        border: 1px solid var(--border-color);
        height: 600px;
        width: 350px;
        display: flex;
        flex-direction: column;

        .box-header {
            padding: 15px 10px;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .box-list {
            display: flex;
            flex-direction: column;
            min-height: 0;
            max-height: 100%;
            height: 100%;
            overflow: auto;
            scrollbar-width: thin;

            .box-list-item {
                background-color: #00000031;
                flex-shrink: 0;
                padding: 15px 10px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    background-color: #00000075;
                }

                &.active {
                    background-color: #22272275;
                }

                &.room-item {
                    display: flex;
                    justify-content: space-between;

                    span {
                        &:first-child {
                            margin-right: 10px;
                        }

                        &:last-child {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    .audio-tracker {
        width: 100%;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .tracker-header {
            display: flex;
            justify-content: center;
        }

        .tracker-main {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            .track-position {
                display: flex;
                gap: 5px;
            }
        }

        .track-settings {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            
            .volume-slider {
                width: 100px;
                padding: 10px;
            }
        }
    }
}

dialog#musicLibrary {

    .modal-header {
        padding: 14px, 10px;
    }

    .music-library {
        width: 400px;
        height: 800px;

        .audio-item {
            padding: 10px;
            background-color: #0000001a;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            justify-content: left;

            .audio-id {
                color: #5f5f5f;
                font-weight: 800;
            }

            &:hover {
                background-color: #0000003b;
            }
        }
    }
}