@use "@/css/components/mixins/" as *;

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;

    @include mobile {
        max-width: 100vw;
    }
}