:root {
    --accent:#e6c875; 
    --accent-l1: rgb(255, 215, 125);
    --accent-o95: rgba(235,195,105,0.95);

    --gray: rgb(156, 163, 175);
    --gray-2: #8a8a8a;

    --background-l1: rgb(23, 27, 31);
    --background-o1: rgba(5,10,15,0.6);
    --background-o2: rgba(255,220,150,0.06);
    --text-color: #fff;
    --text-color-l1: #777777;

    --hover-overlay: rgba(99, 102, 241, 0.11);
    
    --radius: 12px;
    --gold-accent: #e2b539;

    --border-color: var(--gold-accent);
    --btn-color: #b777c7;

    --scrollbar-color: #3a3c3f;
    --scrollbar-background: #00000000;

    --article-background: #0b0f13;
}