:root {
    --text-color: #fff;
    --text-color-l1: #777777;

    --hover-overlay: rgba(99, 102, 241, 0.11);
    
    --background-l1: #212125;

    --radius: 12px;
    --gold-accent: #e2b539;

    --border-color: #3b3b42;

    --scrollbar-color: #3a3c3f;
    --scrollbar-background: #00000000;
}