@use "@/css/components/mixins/" as *;

.library {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    overflow: hidden;

}

.topPanel {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include mobile {
        gap: 0.5rem;
    }

    .action {
        padding: 10px 20px;
        aspect-ratio: 1.5;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        border: 1px solid;

        @include glass(true);

        @include mobile {
            padding: 10px 5px;
            font-size: 15px;
            width: 100%;

            svg {
                width: 27px;
            }
        }

        svg {
            position: absolute;
            top: 40%;
            width: 40px;
            height: 40px;
            translate: 0 -50%;
        }

        .subtitle {
            margin-top: auto;
            height: fit-content;
        }
    }
}

.header {
    text-align: center;
    font-weight: 400;
    margin: 0.5rem 0;
}