.header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .headerText {
        display: inline-block;

        &.animate {
            animation: trackerScroll 10s linear infinite alternate;
        }
    }
}

.update {
    position: absolute;
    bottom: 110px;
    left: 50%;
    width: 90%;
    text-align: center;
    justify-content: center;
    translate: -50%;
    padding: 7px;
    background-color: #0f0f0f;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.settings {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.audioPlayer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0c0909;
    flex-direction: column;
    padding: 0.7rem 1.5rem;
    gap: 1.2rem;
    align-items: center;

    animation: slideUp 0.3s ease;

    .header {
        max-width: 100%;
    }

    img {
        border-radius: 10px;
        max-width: 300px;
        aspect-ratio: 1;
        width: 100%;
        object-fit: cover;
    }

    .navigation {
        display: flex;
        gap: 1rem;

        button {
            padding: 3px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #9b9b9b77;
            }
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes trackerScroll {
    0% {
        transform: translateX(calc(50% - 120px));
    }
    100% {
        transform: translateX(calc(-50% + 120px));
    }
}

.playerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    button {
        font-size: 1.3rem;
    }
}

.tracker {
    width: 100%;

    input[type="range"] {
        -webkit-appearance: none;
        background: #444;
        height: 4px;
        border-radius: 2px;
        cursor: pointer;

        &::-webkit-slider-runnable-track, &::-moz-range-track {
            height: 1px;
        }

        &::-webkit-slider-thum, &::-moz-range-thumb  {
            -webkit-appearance: none;
            width: 8px;
            height: 8px;
            background: white;
            border-radius: 50%;
            border: 1px solid white;
            margin-top: -1px;
            cursor: pointer;
        }
    }

    .positionMeta {
        width: 100%;
        position: relative;
    }

    span {
        color: #7a7a7a;
        display: inline-block;
        position: absolute;

        &.currentPosition {
            left: 0;
        }

        &.duration {
            right: 0;
        }
    }
}