@use "@/css/components/mixins/" as *;

.page {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
    height: 100%;
    overflow: hidden;

    flex: 1;

    align-items: center;

    @include mobile {
        padding: .5rem;
    }
}

.header {
    display: flex;
    gap: 1rem;
}

.room {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include glass;

    .roomName {
        font-size: 1rem;
        padding: 8px;
        background-color: transparent;
        color: var(--text-color);
        border: 1px solid transparent;
        border-radius: 8px;

        &:is(input) {
            border: 1px solid;

            @include glass;
        }
    }

    .submitBtn {
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;

        &:hover {
            background-color: #00000071;
        }
    }
}

.members {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;

    @include glass;
}

.queue {
    border: 1px solid;
    border-radius: 1rem;
    padding: 10px 20px;
    width: 500px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    height: fit-content;
    max-height: 80%;
    overflow: auto;
    min-height: 0;

    @include glass;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .addTrack {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: center;

        @include glass;
    }

    @include mobile {
        width: 100%;
    }
}

.trackList {
    display: flex;
    flex-direction: column;
    min-height: 0;
    //max-height: 100%;
    //height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.track {
    flex-shrink: 0;
    padding: 5px 10px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    gap: 10px;
    position: relative;

    border-bottom: 1px solid var(--glass-border);

    &:last-child {
        border-bottom: none;
    }

    &.roomItem {
        display: flex;
        justify-content: space-between;

        span {
            &:first-child {
                margin-right: 10px;
            }

            &:last-child {
                margin-left: auto;
            }
        }
    }

    .action {
        background-color: #00000000;
        transition: background-color 0.2s ease;
    }

    .play {
        transition: opacity 0.2s ease-in;
        opacity: 0;
    }

    &:hover {
        .play, .action {
            opacity: 1;
            background-color: #00000083;
        }
    }

    .audioCover {
        border-radius: 8px;
        border: 1px solid;
        padding: 5px;
        width: fit-content;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include glass;

        svg {
            aspect-ratio: 1;
            width: 40px;
        }

        .action {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 8px;

            svg {
                position: absolute;
                top: 50% 50%;
                translate: -50% -50%;
                width: 15px;
            }
        }
    }

    .meta {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .name {
        font-size: 0.9rem;
    }

    .artist {
        font-size: 0.9rem;
        color: var(--text-color-l1);
    }
}

.error {
    display: flex;
    position: absolute;
    left: 50%;
    width: 90%;
    text-align: center;
    justify-content: center;
    translate: -50%;
    top: 70px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ce1e1e;
}

.clickOverlay {
    flex: 1;
    background-color: #000000a2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    text-align: center;
    font-size: large;
}

.selectedTracksActions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: fixed;
    bottom: 70px;
    z-index: 100;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    .action {
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid;

        @include glass;
    }
}